{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>ProTrade | Buy</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
<script src="/static/js/jquery-1.7.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/FF-cash.js"></script>
<!--[if lt IE 9]>
<script src="/static/js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie.css">
<![endif]-->
</head>
<body>
<!--==============================header=================================-->
<header>
  <div class="main">
    <div class="wrap">
      <h1><a href="{% url 'home' %}"><img src="/static/images/protrade_logo.png" alt=""></a></h1>
     <h2><div class="slogan">Buy Sell Swap Like a Pro</div></h2>      <div class="tooltips"> <a href="https://in.linkedin.com/in/vipul-gupta-aka-aim-headshot"><img src="/static/images/icon1.png" alt=""></a><a href="https://www.facebook.com/"><img src="/static/images/icon2.png" alt=""></a><a href="https://github.com/4322vipul"><img src="/static/images/icon3.png" alt=""></a> </div>
    </div>
    <div class="nav-shadow">
      <div>
        <nav>
          <ul class="menu">
            <li><a href="{% url 'home' %}">&nbsp&nbsp&nbsp&nbsp&nbspHome&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
            <li class="current"><a href="{% url 'buy' %}">&nbsp&nbsp&nbsp&nbsp&nbspBuy&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
            <li><a href="{% url 'sell' %}">&nbsp&nbsp&nbsp&nbsp&nbspSell&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
            <li><a href="{% url 'swap' %}">&nbsp&nbsp&nbsp&nbsp&nbspSwap&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
            <li><a href="{% url 'contacts' %}">&nbsp&nbsp&nbsp&nbsp&nbspContacts&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-content header-subpages"></div>
</header>
<!--==============================content================================-->
<section id="content" class="content-subpages">

    <div class="wrap">
      <div class="col-3 border-2 block-2">
        <h2  class="p3">Items to Buy</h2>
        

<br>        
<ul>
    {% for items in item %}
        <li>
            
                <img src="{{items.item_image.url}}" width="250" height="200" style="border:8px solid black"/><br>
                <br>
               <h2 style="color:blue;"> Item: {{ items.item_name }}</h2><br>
               <h3>Description: {{ items.item_description }}</h3><br>
              <h3> Item Price(₹): {{ items.item_price }}</h3><br>
              <h3 style="color:black;"> Contact number of seller: {{ items.contact_number }}</h3><br>
              <hr>
                <br>
        </li>
    {% endfor %}

</ul>


</section>
<!--==============================footer=================================-->
<footer>
  <p>© 2018 <a href="#" class="link">ProTrade</a></p>
  <p>Phone: +91 800 255 4322 &nbsp; Email: <a href="#" class="link">aimheadshot520@gmail.com</a></p>
</footer>
</body>
</html>